= render  partial: "/shared/header"
.body
  = render partial: "/shared/profile"
  .images_list
    - @images.each do |image|
      %img{ src: image.image, alt: "image"}
        = link_to "移動", "/users/show"
        = image.restaurant.name