.header Food Research
.body
  .profile
    %img{class: "icon"}
    .desc
      .upper
        .user_name Tomoyo
        %button{type: "button"} 編集
      .lower
        .user_desc こんにちは！東京のレストランに関して情報をアップしていきます。よろしくお願いします♩
  .images
    %img
    %img
    %img
    %img 
    %img
    %img
    %img
    %img 
    %img 
    %img     
.footer


