.header Food Research
.body
  .profile
    %img
    .desc
      .upper
        .user_name Tomoyo
        %button{type: "button"} プロフィールを編集
      .lower
        .user_desc こんにちは！レストランに関して情報をアップしていきます。
  .images
    %tr
      %th
    %tr
      %th
    %tr
      %th
    %tr
      %th    
.footer


