.header FOOD RESEARCH
= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn"
.body
  %form 
    %input{type: "text", id: "key", placeholder: "KEYWORD", class: "search"}
    %input{type: "button", id: "submit", class: "submit-button", value: "SEARCH", class: "currentLocation"}
    #list
  .profile
    %img{class: "icon"}
    .desc
      .upper
        .user_name 
          = current_user.name
        %button{type: "button"} 編集
      .lower
        .user_desc こんにちは！東京のレストランに関して情報をアップしていきます。よろしくお願いします♩
  .images
    %img
    %img
    %img
    %img 
    %img
    %img
    %img
    %img 
    %img 
    %img     
.footer


