.header Food Research
.body
  %img
  .profile
    .upper
      .user_name Tomoyo
      %button{type: "button"} プロフィールを編集
    .lower
      .user_desc こんにちは！レストランに関して情報をアップしていきます。
  .images
    %tr
      %th
    %tr
      %th
    %tr
      %th
    %tr
      %th 
  .rates
  .image_desc
.footer