= render  partial: "/shared/header"
.body
  = render partial: "/shared/profile"
  .images_wrap
    %img
    %img
    %img
    %img
    %img
  .images_wrap
    %img
    %img
    %img
    %img
    %img
  
