.container {
  width: 500px;
  height: 400px;
  margin: 0 auto;
  .icon {
    border-radius: 50px;
    height: 100px;
    width: 100px;
    background: url(/neko.png);
    display: inline-block;
    margin: 0 0 30px 0;
  }
  .wrap {
    margin: 0 auto;
    &__name {
      font-size: 16px;
      display: inline-block;
      margin: 0 20px 0 50px;
    }
    .container_name_edit {
      width: 200px;
      height: 30px;
      margin-right: 100px;
    }
  }
  .wrap {
    margin: 0 auto;
    &__profile {
      font-size: 16px;
      display: inline-block;
      margin: 0 20px 0 ;
    }
    .container_profile_edit {
      width: 300px;
      height: 200px;
    }
  }
}
  