.header {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}
.btn {
  width: 100px;
  text-decoration: none;
  float: right;
  padding-right: 20px;
}
.body {
  width: 100%;
  height: 100%;
  .search {
    width: 300px;
    height: 30px;
    margin: 0 0 100px 500px;
  }
  #list {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    font-size: 18px;
    .restaurant-box {
      width: 300px;
      height: 300px;
      border: 1px solid #ddd;
      display: inline-block;
      margin: 50px 30px 30px 30px;
      img {
        width: 250px;
        height: 150px;
        margin: 10px 25px;
        background: url(/sample.png);
        border: 1px solid #ddd;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          margin: 0 0 10px 0;
        }
        .rest-name {
          font-size: 16px;;
          text-align: center;
        }
        .rest-budget {
          font-size: 12px;
          margin-left: 20px;
        }
        .rest-address {
          font-size: 12px;
          margin-left: 20px;
        }
      }
    }
  }
  .profile {
    text-align: center;
    left: 400px;
    .icon {
      border-radius: 50px;
      height: 100px;
      width: 100px;
      background: url(/neko.png);
      display: inline-block;
    }
    .desc {
      width: 400px;
      height: 50px;
      display: inline-block;
      margin: 50px 0 30px 200px;
      .upper {
        display: block;
        .user_name {
          font-size: 24px;
          display: inline-block;
          margin-right: 50px;
        }
        button {
          width: 80px;
          height: 30px;
          border: 1px solid #dbdbdb;
        }
      }
      .user_desc {
        margin-top: 30px;
      }
    }
  }
  .images_list {
    text-align: center;
    img {
      width: 250px;
      height: 250px;
      margin: 80px 10px 0 10px;
    }
    .rest_name {
      display: inline-block;
    }
  }
  // star直す
  #star {
    margin: 30px;
    .overall {
      font-size: 20px;
      padding-right: 20px;
    }
  }
  .star {
    display: inline-block;
    margin: 20px 30px;
    .rates {
      padding-right: 20px;
    }
  }
}
.rest_desc {
  margin: 30px 30px;
}
.footer {
  height: 100px;
  width: 100%;
}
