.header FOOD RESEARCH
.body
  %form 
    %input{type: "text", class: "search"}
    %input{type: "submit", class: "submit-button", value: "Search"}
  .currentLocation
    %input{type: "submit", value: " 現在地から探す"}
.footer