.header FOOD RESEARCH
%h5 アカウントの編集
= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn"
= link_to "トップページに戻る", :back,  class: "btn"
.body
  %form 
    %input{type: "text", id: "key", placeholder: "KEYWORD", class: "search"}
    %input{type: "button", id: "submit", class: "submit-button", value: "SEARCH", class: "currentLocation"}
    #list